<footer class="site-footer">

    <a href="#top" class="smoothscroll scroll-top">
        <span class="icon-keyboard_arrow_up"></span>
    </a>

    <div class="container">

        <div class="row">

            <div class="col-6 col-md-5 mb-6 mb-md-0">
                <h3>Details</h3>
                For any suggestions/queries please contact us through following details: <br> Address: A-4, Paschim Vihar, New Delhi 110063 <br> Contact No.: 011-25278444/25278443 <br> Email ID: xyzjobs.edu
            </div>


            <div class="col-6 col-md-4 mb-5 mb-md-0">
                <h3>Useful Links</h3>
                <ul>
                    <li><a href="http://nptel.ac.in/">NPTEL</a></li>
                    <li><a href="https://www.aicte-india.org/">AICTE</a></li>
                    <li><a href="http://mhrd.gov.in/">MHRD</a></li>
                    <li><a href="https://www.ugc.ac.in/">UGC</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-2 mb-md-0">
                <h3>Other Links</h3>
                <ul>
                    <li><a href="http://nptel.ac.in/">NPTEL</a></li>
                    <li><a href="https://www.aicte-india.org/">AICTE</a></li>
                    <li><a href="http://mhrd.gov.in/">MHRD</a></li>
                    <li><a href="https://www.ugc.ac.in/">UGC</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>

